<div class="product-cnd">
    {% for tag in product.tags %}
        {% if tag contains 'Assembled in Canada'  %}
            <img src="{{ 'assembled_in_canada.png' | asset_img_url: 'medium' }}" alt="">
        {% endif %}

    {% endfor %}
</div>