<div class="product-certif">
    {% assign attribute_keyword = 'Certif:' %}
    {% for tag in product.tags %}
    {% if tag contains attribute_keyword %}
        {{ tag }}
    {% endif %}
    {% endfor %}
</div>